@mixin container {
    max-width: 80vw;
    margin: 0 auto;
}

@mixin container-margin-desctop {
    margin: 8em auto 4em auto;
}

@mixin container-margin-mobile {
    margin: 3em auto 2em auto;
}

@mixin link-button {
    display: inline-block;
    background: $blue;
    width: 14rem;
    font-size: 1.4rem;
    color: $white;
    padding: 0.8em 0.5em;
    border-radius: 0.2em;
    border: 0.1em solid transparent;

   
    @media only screen and (max-width: 700px) {
        width: 12rem;
        padding: 0.8em 0.5em;
    }
    &:hover {
        background: $white-1;
        color: $blue;
        border-width: 0.1em;
        border-style: solid;
        border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    
    }
}