// Colors

$black: #262626;

$gray-1: #555;
// $gray-1: #3f3f3f;
$gray-2: #928985;
$gray-3: rgba(106, 104, 90, 0.8);

$white-1: #dcdcdc;
$white: #fff;
// $white: #f6f7f6;

// $blue: #1A74A3;
$blue: #87989F;



